In [20]:

import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LogisticRegression

In [21]:
test = pd.read_csv("DF/test.csv")
train = pd.read_csv("DF/train.csv")

In [22]:
y = train["price"]
X = train.drop("price", axis=1)

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [24]:
rfr = RandomForestRegressor(
    n_estimators = 1000, 
    n_jobs = -1)

In [25]:
rfr.fit(X, y)
print(rfr.score(X_train, y_train))
print(rfr.score(X_test, y_test))

0.998544236103989
0.998510024474216

In [26]:
rmse = np.sqrt(mean_squared_error(y_test, rfr.predict(X_test)))
rmse

0.03910528254481337

In [27]:
y_pred = rfr.predict(X)

In [28]:
mean_squared_error(y, y_pred)

0.0015047764399226027

In [29]:
test.head()

,id,carat,depth,table,x,y,z,cut_Good,cut_Ideal,cut_Premium,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.51,58.3,61.9,5.19,5.20,3.04,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1.02,63.0,58.0,6.37,6.43,4.03,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,0.59,61.9,56.0,5.39,5.34,3.32,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,3,0.90,62.3,56.0,6.14,6.18,3.84,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,2.01,60.2,61.0,8.23,8.16,4.93,0,0,1,...,0,0,1,0,0,0,1,0,0,0

In [30]:
test_df = pd.read_csv("../desktop/tests1.csv", encoding="latin1")

In [31]:
print(test_df.cut.unique())
print(test_df.color.unique())
print(test_df.clarity.unique())

['Very Good' 'Ideal' 'Premium' 'Good' 'Fair']
['E' 'F' 'D' 'J' 'G' 'I' 'H']
['SI2' 'VS2' 'VS1' 'SI1' 'VVS1' 'VVS2' 'I1' 'IF']

In [32]:
test_df['cut']=test_df['cut'].replace({'Ideal':1,'Good':2,'Very Good':3,'Fair':4,'Premium':5})

In [33]:
test_df['color']=test_df['color'].replace({'E':1,'D':2,'F':3,'G':4,'H':5,'I':6,'J':7})

In [34]:
test_df['clarity']=test_df['clarity'].replace({'VVS1':1,'IF':2,'VVS2':3,'VS1':4,'I1':5,'VS2':6,'SI1':7,'SI2':8})

In [35]:
test_df.dtypes

id           int64
carat      float64
cut          int64
color        int64
clarity      int64
depth      float64
table      float64
x          float64
y          float64
z          float64
dtype: object

In [36]:
test_df.describe()

,id,carat,cut,color,clarity,depth,table,x,y,z
count,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000
mean,6742.000000,0.802440,2.660141,3.516945,5.501965,61.756122,57.461157,5.741783,5.745953,3.545598
std,3892.928525,0.475629,1.615232,1.767303,2.108788,1.431146,2.236702,1.123344,1.137006,0.696500
min,0.000000,0.200000,1.000000,1.000000,1.000000,52.700000,49.000000,0.000000,0.000000,0.000000
25%,3371.000000,0.400000,1.000000,2.000000,4.000000,61.000000,56.000000,4.720000,4.730000,2.920000
50%,6742.000000,0.710000,3.000000,4.000000,6.000000,61.800000,57.000000,5.710000,5.720000,3.530000
75%,10113.000000,1.040000,5.000000,5.000000,7.000000,62.500000,59.000000,6.540000,6.540000,4.040000
max,13484.000000,4.000000,5.000000,7.000000,8.000000,79.000000,79.000000,10.010000,31.800000,6.380000

In [37]:
test_df.head()

   id  carat  cut  color  clarity  depth  table     x     y     z
0   0   0.51    3      1        8   58.3   61.9  5.19  5.20  3.04
1   1   1.02    3      3        8   63.0   58.0  6.37  6.43  4.03
2   2   0.59    1      2        6   61.9   56.0  5.39  5.34  3.32
3   3   0.90    3      2        6   62.3   56.0  6.14  6.18  3.84
4   4   2.01    5      7        4   60.2   61.0  8.23  8.16  4.93

In [38]:
pred = rfr.predict(test_df)

ValueError: X has 10 features, but DecisionTreeRegressor is expecting 24 features as input.