In [3]:

import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [4]:
test = pd.read_csv("DF/test.csv")
train = pd.read_csv("DF/train.csv")

In [5]:
rf_reg = RandomForestRegressor(n_estimators=27, max_depth=3, min_samples_leaf=3, random_state=111)
selector = RFECV(rf_reg, step=1, cv=5)

In [6]:

columnas = [a for a in train.columns if a != "price"]
X = train[columnas]
y = train['price']

In [7]:
selector.fit(X, y)
selector.n_features_

7

In [8]:
pd.Series(columnas)[selector.support_.tolist()]
predictors = pd.Series(columnas)[selector.support_.tolist()].tolist()
predictors

['carat',
 'x',
 'y',
 'clarity_SI2',
 'clarity_VS2',
 'clarity_VVS1',
 'clarity_VVS2']

In [9]:
Xb = train[predictors]
yb = train["price"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(Xb, yb, test_size=0.2)

In [11]:
rf_reg.fit(X_train, y_train)
rf_reg.feature_importances_
print(rf_reg.score(X_train, y_train))
print(rf_reg.score(X_test, y_test))

0.9315529548384699
0.9328450100957644

In [12]:
rmse = np.sqrt(mean_squared_error(y_test, rf_reg.predict(X_test)))
rmse

0.26303670741166313

In [13]:
test['price'] = rf_reg.predict(test[predictors])

In [14]:
columnasentrega = ["id","price"]
entrega = test[columnasentrega]

In [15]:
entrega

          id     price
0          0  7.296855
1          1  8.571980
2          2  7.408160
3          3  8.445624
4          4  9.381149
...      ...       ...
13480  13480  8.571980
13481  13481  6.510771
13482  13482  6.833128
13483  13483  6.510771
13484  13484  7.941518

[13485 rows x 2 columns]